
<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :comment %>
    <%= f.hidden_field :tweet_id, value: @tweet %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary"%>
  </div>
<% end %>
