<% if @tweets %>
   <% @tweets.each do |tweet| %>
      <div class="card">
        <div class="card-body">
          <div class="row">
              <div class="col-md-2">
                  <%= gravatar_image_tag(tweet.user.email, size: 65, alt:tweet.user.name) %>
              </div>
              <div class="col-md-10">
                <p>
                  <strong><%= tweet.user.name.upcase%></strong>
                  <br>
                  <small>@<%= tweet.user.username%></small>
                </p>
                <div class="clearfix"></div>
                <p>
                  <p><%= tweet.tweet%></p>

                  <%if tweet.parent_tweet.present?%>
                    <div class="card">
                      <div class="card-body">
                        <p><strong><%= tweet.parent_tweet.user.name.upcase%></strong>
                        @<%= tweet.parent_tweet.user.username%></p>
                        <p><strong><%= tweet.parent_tweet.tweet%></strong></p>
                      </div>
                    </div>
                  <%end%>
                
                  <% if user_signed_in? %>
                    <% if tweet.user == current_user %>
                      <hr>
                      <%= link_to tweet, class: "btn btn-lg" do %>
                        <i class="fa fa-link"></i>
                      <% end %>
                      
                      <%= link_to edit_tweet_path(tweet), class: "btn btn-md" do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                      
                      <%= link_to tweet, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-md" do %>
                        <i class="fa fa-trash-o"></i>
                      <% end %>
                    
                    <%elsif !tweet.parent_tweet.present?%>
                      <%= link_to retweet_tweet_path(tweet), class: "btn btn-md" do %>
                        <i class="fa fa-reply"></i>
                      <% end %>
                    <%end%>
                  <%end%>
                  <!-- <a class="btn btn-md btn-outline-primary "> <i class="fa fa-reply"></i> Reply</a>
                  <a class="btn btn-md text-white btn-danger"> <i class="fa fa-heart"></i> Like</a> -->

                </p>
              </div>
          </div>
        </div>
      </div>
    <% end %>
<% end %>
