<div class="row">

    <div class="col-3">
      <% if user_signed_in?%>
        <h3>Your Profile</h3>
        <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
              
                  <%= gravatar_image_tag(current_user.email, size: 65, alt:current_user.name) %>

                </div>
                <div class="col-md-8">
                    <p>
                      
                        <strong><%=current_user.name.upcase%></strong>
                        <br>
                        <strong>@<%=current_user.username.downcase%></strong>
               

                    </p>
                   <div class="clearfix"></div>
                    <p>
                        <!-- <a class="btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                        <a class="btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a> -->
                   </p>
                </div>
                <div class="col-4", style="padding:0;">
                  <strong>Tweet</strong>
                  <br>
                  <%=current_user.tweets.count%>
                </div> 
                <div class="col-4 ", style="padding:0;">
                  <strong>Follower</strong>
                  <br>
                  100
                </div> 
                <div class="col-4", style="padding:0;">
                 <strong> Following</strong>
                  <br>
                  100
                </div> 
            </div>
            </div>
          </div>
        <%end%>
          <%= render 'trends'%>
        
    </div>

    <!-- --------------- -->
    <div class="col-6">
      <h3>Tweets</h3>
      <% if user_signed_in? %>
      <div class="card">
        <div class="card-body">
          <div class="row">
              <div class="col-md-2">
                  <%= gravatar_image_tag("test@gmail.com", size: 65, alt:"test") %>
              </div>
              <div class="col-md-10">
                <%= render 'tweets/form'%>
              </div>  
          </div>
        </div>
      </div>
      <br/>
      <% end%>
      
      <%= render 'feed'%>
    
    </div>

    <!-- --------------- -->
    <div class="col-3">
      <%= render 'whom_to_follow'%>
    </div>
</div>

